:root {
    --main-color: #5D9AB3;
    --accent-color: #BF7785;
    --dark-color: #2B5566;
    --text-bright-color: #fff;
    --icon-bk-color: #ddd;
    --icon-color: #fff;
    --large-width: 1000px;
    --gray-color: #ddd;
    --middle-width: 800px;
}
/* 13. 폰트 크기 조정 */
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}
@media (min-width:600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}
@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

body {
    /* 맑은 고딕 없으면 apple 글꼴로 설정, 이것도 없으면 굴림체(엣지환경)로 설정 */
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
    /* 이미지 주변 여백 제거 */
    margin: 0;
    font-size: 16px;
}
.conA {
    text-align: center;    
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(img/fruits.jpg);
    background-position: center;
    background-size: cover;
    /* 화면의 높이 = 100vh */
    height: 100vh;
    /* 최소 높이를 줘서 글자영역보다 높이가 작더라도 이미지가 보이도록 설정 */
    min-height: 450px;
    display: flex;
    align-items:center;
    justify-content:center;
    color: #fff;
    color:var(--text-bright-color)
}
/* 1. compact 스타일 추가 */
.conA.compact {
    height: 450px;
    min-height: 0;
    background-image: linear-gradient(
        rgba(0,0,0,0.1), rgba(0,0,0,0.1)
    ), url(img/balloon.jpg);
}
.conA h1 {
    /* font-size: 48px; */
    /* vw: 화면의 너비를 100vw로 하는 단위. 1vw: 100분의 1 
    너비가 320px일때 1vw = 3.2px*/
    font-size: 15vw;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* letter-spacing: 23px; */
    letter-spacing: 0.2em;
    /* margin-left: 23px; */
    /* em: 현재 글자크기가 1em. 768너비 기준 115px = 1em */
    /* letter-spacing은 글자 오른쪽에만 여백생기므로 비율 조정 */
    margin-left: 0.2em;
}

.conA p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.conA img {
    width: 20%;
}

.conA a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    /* currentColor: 글자와 같은 색상 */
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);    
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    )
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    /* 줄 높이 기본값: 폰트의 1.5배  */
    line-height: 1.8;
    opacity: 0.8;
}

.conB a {
    color: var(--main-color);
    text-decoration: none;
}

.conB a:hover {
    text-decoration: underline;
}

.conB .icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    /* line-height를 사용하여 아이콘을 중앙에 배치 */
    line-height: 2em; 
    border-radius: 50%;
    text-align: center;
    background-color: var(--icon-bk-color);
    color: var(--icon-color);
}

.conB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}
.conB .text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

    /* padding: 0 20px 60px 20px; */
}

.conC h2, .conD h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p, .conD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    /* 줄 높이 기본값: 폰트의 1.5배  */
    line-height: 1.8;
    opacity: 0.8;
}

.conC a, .conD a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    /* currentColor: 글자와 같은 색상 */
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);    
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conC a:hover, .conD a:hover {
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    )
}

.conC {
    background-color: var(--main-color);
    color: var(--text-bright-color);
}

.conC .photo, .conD .photo {
    background-image: url('img/note.jpg');
    background-position: center;
    background-size: cover;
    /* 최소 높이 설정. 그냥 height로 하면 박스높이가 200보다 커질경우 틀어짐 */
    min-height: 200px;
}
.conC .text, .conD .text {
    padding: 20px;
}

.conD .photo {
    background-image: url('img/life.jpg')
}

.conD a {
    box-shadow: 0 0 0 1px #888;
}

.conD .container {
    padding-top: 2px;
}

/* 아이패드 화면 너비 기준 */
@media (min-width:768px) {
    .conA h1 {
        font-size: 115px;
    }
    .conA p {
        font-size: 24px;
    }
    .conB .container {
        display: flex;
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .conB .text {
        /* 부모요소를 1:1:1 비율로  */
        flex: 1; 
    }
    .conC .container, .conD .container {
        display: flex;
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .conC .photo, .conD .photo {
        flex: 3;
    }
    .conC .text, .conD .text {
        flex: 2;
        padding: 50px;
    }
    .conD .container {
        padding: 40px 0;
        flex-direction: row-reverse;
    }
    .conD .photo {
        /* photo의 크기가 확대되지 않고 400px로 고정 */
        flex: 0 0 400px;
    }
    .conD .text {
        flex: 1;
    }
}

footer {        
    color: var(--text-bright-color);
    background-color: var(--dark-color);
}
footer .container {
    padding: 40px 20px;
}

@media (min-width:768px) {
    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .footA {
        flex: 0 0 40%;
    }
    .footB {
        flex: 0 0 60%;
    }
    .footC {
        flex: 0 0 100%;
    }
}

.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
}
.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.footA a {
    /* 부모 요소의 색을 상속받음, 부모컬러가 없으면 검은색으로 지정 */
    color: inherit;
    text-decoration: none;
}

.footA {
    margin-bottom: 30px;
}
.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}
.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footB a {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}
.footB div {
    margin-bottom: 20px;
}

.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footD ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footD {
    margin-top: 20px;
}

.footD a {
    color: inherit;    
    text-decoration: none;    
    display: block;        
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    padding: 0;    
    margin-right: 8px;
    font-size: 16px;
}

.footD a:hover {
    background-color: rgba(0,0,0,0.3);
}
.headA {
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}
.noHero header {
    position: static;
    border-bottom: solid 1px var(--gray-color);
}
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.headB a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.headB a:hover {
    background-color: rgba(0,0,0,0.3);
}
@media (min-width: 768px) {    
    .headB ul {
        display: flex;
    }
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;        
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .footB {
        display: flex;
    }
    .footB div {
        flex: 1;
    }
    /* :not(): 괄호 내부에 지정한 조건과 일치하지 않는 요소가 선택됨
    :first-child: 첫 번째 자식 요소가 선택됨 */
    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}

/* 토글 버튼 */
@media (max-width: 767px) {
    /* 작은 화면 전용 설정 */    
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
    .headC {
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }    
    .headC:hover {
        opacity: 0.3;
    }    
    .headB {
        display: none;
    }
}
@media (min-width: 768px) {
    /* 큰 화면 전용 설정 */    
    .headC {
        display: none;
    }    
    .headB {
        display: block !important;
    }
}
.post .container {
    padding: 30px 10px;
    max-width: var(--middle-width);
    margin-left: auto;
    margin-right: auto;
}
.post h1 {
    font-size: 2rem; /*rem: 루트 요소의 폰트 크기에 대한 비율 크기 지정 */    
    padding-left: 0.5rem;
    border-left: solid 0.75rem var(--accent-color);
}
.post p {
    font-size: 1rem;
    line-height: 2;
}
.post img {
    max-width: 100%;
}
.bread ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.bread a {
    color: inherit;
    font-size: 0.875rem;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.bread a:hover {
    background-color: rgba(0,0,0,0.3);
}
.bread a::after {
    margin-left: 10px;
    content: '\f054';
    font-family: 'FontAwesome';
    opacity: 0.3;
}
.history {
    background-color: var(--main-color);
    color: var(--text-bright-color);    
}
.history .text {
    padding: 20px;
}
.history h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.history .photo {
    min-height: 300px;
    background-image: url(img/plant.jpg);
    background-position: center;
    background-size: cover;
}
@media (min-width: 768px) {
    .history .container {
        display: flex;        
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .history .photo {
        flex: 3;
    }
    .history .text {
        flex: 2;
        padding: 50px;
    }
}
.history table {
    border-collapse: collapse;
    border-top: solid 1px var(--gray-color);
    font-size: 0.875rem;
}
.history th, .history td {
    border-bottom: solid 1px var(--gray-color);
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.history th {
    padding-right: 1rem;
    text-align: left;
    word-break: keep-all;
    white-space: nowrap;
}
.contact {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px var(--gray-color);
    text-align: center;
}
.contact h2 {
    margin-top: 0;
    font-size: 1.2rem;
}
/* 4. 아이콘 디자인 */
.contact span {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.2rem;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: var(--main-color);
    color: var(--icon-color);
}
.contact a {
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
}
@media (min-width: 768px) {
    .contact-wrap {
        display: flex;
    }
    .contact {
        flex: 1;
    }
    .contact:first-child {
        margin-right: 20px;
    }
}
.location iframe {
    width: 100%;
    height: 400px;
    vertical-align: bottom;
}
.location h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-size: 1.5rem;
    text-align: center;
}
/* 2. 기사 디자인 */
.listA .photo {
    min-height: 150px;
    background-position: center;
    background-size: cover;
}
.listA h2 {
    font-size: 18px;
}
.listA p {
    font-size: 14px;
    opacity: 0.8;
}
.listA a {
    margin: 10px;
    display: block;
    border: solid 1px var(--gray-color);
    color: inherit;
    text-decoration: none;
    flex: 1; /*article 부모 높이에 맞춤*/
}
.listA a:hover {
    opacity: 0.8;;
}
.listA .text {
    margin: 10px;
}
/* 3. 너비 설정 */
.listA .container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--large-width);
    margin: 30px auto;
}
.listA article {
    /* 300px이 기본이며 필요에 따라 늘림 */
    flex: 1 1 300px;
    display: flex;
}
/* 4. listB 디자인 추가 */
.listB .photo {
    min-height: 150px;
    background-position: center;
    background-size: cover;
}
.listB h2 {
    font-size: 18px;
    margin: 0;
}
.listB p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}
.listB a {
    margin: 10px;
    display: block;
    border: solid 1px var(--gray-color);
    color: inherit;
    text-decoration: none;
    flex: 1; /*article 부모 높이에 맞춤*/
    position: relative;
}
.listB a:hover {
    opacity: 0.8;;
}
.listB .text {
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.listB .container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--large-width);
    margin: 30px auto;
}
.listB article {
    /* 300px이 기본이며 필요에 따라 늘림 */
    flex: 1 1 300px;
    display: flex;
}
/* 5. 이미지 밝기 낮추기 */
.listB a {
    background-color: currentColor;
}
.listB .photo {
    opacity: 0.6;
}
.listB .text {
    color: var(--text-bright-color);
}
/* 6. 너비 조정 */
.listB .container {
    max-width: none;
    margin: 2px auto;
}
.listB article {
    flex: 1 1 250px;
}
.listB .photo {
    min-height: 250px;
}
.listB a {
    margin: 2px;
}
@media (min-width: 1000px) {
    .listB article {
        /* 너비가 1000픽셀 이상일때 4단 구조 이상으로 변화하지 않게 설정 */
        flex: 1 1 25%;
    }    
}
/* 7. 헤더 재구성 */
.head-hero {
    background-color: transparent;
    color: var(--text-bright-color);
}
.head-hero .headA {
    background-color: transparent;
    color: inherit;
}
.head-hero .headC {
    color: inherit;
    opacity: 1;
}
@media(max-width: 767px) {
    .head-hero .headB {
        background-color: rgba(0,0,0,0.6);
    }
}

/* 8. 헤더 고정 */
.head-fixed, .noHero .head-fixed {
    position: fixed;
}

.noHero .head-fixed + * {
    margin-top: 70px;
}
